*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.nav_container{
  width: 100vw;
  height: 60px;
  gap: 20px;
 
}
.nav_container img{
  width: 70px;
  height: 60px
}
.font_bold{
  font-weight: bold;
}
.logo{
  margin-left: 30px;
  
}
.login{
  gap: 20px;
  position:relative;
  
  
  left: 49%;
  
}

.menu{
  gap: 20px;
}
.footer_container  img{
  width: 70px;

}

.dis_flex{
  display: flex;
 
}

.flexdrectoin_cl{
  flex-direction: column;
}

.flex_center{
  align-items: center;
  justify-content: center;
}
.gap_20px{
  gap: 50px;
  margin-top: 30px;
}
.section_container{
  background-color: rgb(29, 29, 83);
  color: white;
  height: 250px;
  
}
.section_container h2{
  font-size: 50px;
  
}
button{
  background-color: green;
  border: none;
  color: white;
}
.section_container > button{
  width: 145px;
  height: 37px;
  margin-top: 30px;
}